* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #686262;
}

#container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  border: 5px solid #111;
  width: 500px;
  height: 500px;
}

.item {
  background: white;
}

.hovered {
  background: black;
}
