* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  column-gap: 20px;
  margin-top: 80px;
}

.grid {
  grid-column: 2 / 3;
  --sideSize: 16;
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(var(--sideSize), 1fr);
  grid-template-rows: repeat(var(--sideSize), 1fr);
  gap: 1px;
  border: 5px solid #333;
  background: #333;
}

.block {
  background: lightblue;
}
